<!-- <app-modal [show]="modal.show" [content]="modal" (closeEvent)="onCloseModal()"></app-modal> -->

<nav class="nav-extended">
  <div class="nav-wrapper cyan">
    <!-- <a href="projeto" class="brand-logo"><h6>{{titulo}}</h6></a> -->
    <a href="projeto" class="brand-logo"><h6>Projeto</h6></a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger">
      <i class="material-icons">menu</i>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <!-- <li><a routerLink="controle-cidades/cidades">{{opcao[0]}}</a></li>
      <li><a routerLink="controle-cidades/usuarios">{{opcao[1]}}</a></li>
      <li><a routerLink="controle-cidades/visitas">{{opcao[2]}}</a></li>
      <li><a routerLink="controle-cidades/localizarvisitas">{{opcao[3]}}</a></li>
      -->
    </ul>
  </div>

</nav>

<!-- Soh funciona a exibicao do sidenav se adicionar a variavel de template '#mobile' aqui-->
<!-- A variavel de template '#mobile' deve ser referenciada no app.component.ts -->
<ul class="sidenav" id="mobile-demo" #mobile>
 <!-- <li><a routerLink="controle-cidades/cidades">{{opcao[0]}}</a></li>
  <li><a routerLink="controle-cidades/usuarios">{{opcao[1]}}</a></li>
  <li><a routerLink="controle-cidades/visitas">{{opcao[2]}}</a></li>
  <li><a routerLink="controle-cidades/localizarvisitas">{{opcao[3]}}</a></li>
 -->
</ul>


<p></p>
<p></p>
<!-- <button type="button" (click)="cadastrar()">Modal: Cadastrar Cidade Visitada</button>

<p>Exibir janela modal: {{this.exibir}}</p>
-->
<app-segundo-componente></app-segundo-componente>
